{% extends 'template.html' %}
{% block content %}



{% if user.is_authenticated %}
    <div class="container">
     <div class="row marketing">
        <div class="col-lg-6">
            <div class="form-group" style="">
                <form method="post" action="{% url 'create-oink' %}">
                    {% csrf_token %}
                    {{  form.as_p }}
                    <button type="submit" class="btn btn-primary" id="oink-button" style="background-color: rgb(247, 151, 207);">Oink!</button>
                </form>
            </div>
        </div>
     </div>
    </div><br>

{% endif %}




{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<hr>
{% if user.is_authenticated %}
    {% for oink in oinks %}
    <div class="container">
         <div class="row marketing">
            <div class="col-lg-6">
                    <div class="card" style="">
                        <div class="card-body">
                            <h4 class="card-title">@<a href="{% url "view-profile" oink.user.username %}"> {{  oink.user }}</a></h4>
                            <p class="card-text">{{ oink.oink_text }}</p>
                            <hr style="">
                            <p class="card-text">
                                <small class="text-muted" style="">{% if oink.user == req.user %}<a href="{%  url 'delete-oink' oink.pk %}">delete</a>  - {% endif %} {{ oink.date_time|date:'F d, Y H:i' }}</small>
                            </p>
                        </div>
                    </div>
            </div>
          </div>
    </div><br> <!-- /container -->
    {% endfor %}
{% endif %}

</div
{% endblock %}